{% extends "base.html" %}

{% block extrahead %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:700|Oxygen+Mono|Source+Sans+Pro:700|Source+Serif+Pro&amp;display=swap">

{% if config.extra.ihandout_config %}
    <script>
        window.ihandout_config = JSON.parse(`{{ config.extra.ihandout_config|tojson|safe }}`);
    </script>
{% endif %}
{% endblock %}

{% set extracopyright %}
{% if page and page.meta and page.meta.copyright %}
<div class="extra-footer">
{{page.meta.copyright}}
</div>
{% endif %}
{% endset %}
